In [1]:
"""Different Ways Of Creeating DataFrames
1.Using CSV
2.Using Excel
3.From python dictionary
4.From list of tuples
5.From list of dictionaries
"""

''

In [4]:
"""
1.Creating using csv
"""
import pandas as pd
df=pd.read_csv('C:\\Users\\DigitalEthers\\Videos\\Data Science\\Koks Data Science Work\\Numpy,Pandas,Matplotlib\\Pandas\\Dataframes Basics\\weather_data.csv')

In [5]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
"""
creating a dataframe from an excel file
"""
df2 = pd.read_excel("C:\\Users\\DigitalEthers\\Videos\\Data Science\\Koks Data Science Work\\Numpy,Pandas,Matplotlib\\Pandas\\Different Ways Of Creating DataFrames\\weather_data.xlsx","sheet1")

XLRDError: No sheet named <'sheet1'>

In [14]:
"""3rd way python dictionary"""
weather_date = {
    'day' : ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature' : [32,35,28],
    'windspeed': [6,7,2],
    'event' : ['Rain', 'Sunny', 'Snow']
}
df3 = pd.DataFrame(weather_date)

In [15]:
df3

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [16]:
"""Using Tuples List"""
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
    
]
df4 = pd.DataFrame(weather_data, columns=['day','temperature','windspeed','event'])

In [17]:
df4

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [19]:
"""
List of dictionaries
"""
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed':6, 'event':'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed':7, 'event':'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed':2, 'event':'Snow'}
]
df5 = pd.DataFrame(weather_data)
df5

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          2