In [28]:
"""
Reading writing csv,excel files

Topics:
1.Read csv
2.Write csv
3.Read excel
4.Write excel

CsV file is a comma seperated file
"""
#Skipping stck_data row(skiprows/header=1)
#if we dont have headers-tickets, eps, revenue... we can set header=1
# we can add header names in the parameter- header=None,names=["ticker","eps","revenue","price","people"]
#if your csv file is big and you only want to read a certain amount of row-eg 3, in parameters you can use nrows=3
# dealing with n.a/not available values, you can convert them to Nan-not a number value-na_values=["not available","n.a."]
#Coverting -1 to Nan using dictionary

# this is reading csv
import pandas as pd
df = pd.read_csv("C:\\Users\\DigitalEthers\\Videos\\Data Science\\Koks Data Science Work\\Numpy,Pandas,Matplotlib\\Pandas\\Read Write Excel CSV File\\stock_data.csv",na_values={
    'eps':["not available","n.a."],
    'revenue':["not available","n.a.", -1],
    'people' : ["not available","n.a."],
    'price' : ["not available","n.a."]
} )

In [29]:
df

  tickers    eps  revenue   price         people
0   GOOGL  27.82     87.0   845.0     larry page
1     WMT   4.61    484.0    65.0            NaN
2    MSFT  -1.00     85.0    64.0     bill gates
3    RIL     NaN     50.0  1023.0  mukesh ambani
4    TATA   5.60      NaN     NaN     ratan tata

In [33]:
#writing back to csv file
#if we want to remove the 0-4 index ; index=False
#writing only two column-df.to_csv("new.csv", columns=["tickers","eps"])
df.columns

Index(['tickers', 'eps', 'revenue', 'price', 'people'], dtype='object')

In [36]:
#skipping reading the headers-df.to_csv("new.csv",header=False)