In [13]:
#if we want to change the name of WMT of people we use a converter by define a function
#this is how you use converters for messy data(na.a values) into something meaningful that can be post procesed later 
def convert_people_cell(cell):
    if cell == "n.a.":
        return 'sam walton'
    return cell
     
def convert_eps_cell(cell):
    if cell=="not available":
        return None
    return cell

import pandas as pd
df = pd.read_excel("C:\\Users\\DigitalEthers\\Videos\\Data Science\\Koks Data Science Work\\Numpy,Pandas,Matplotlib\\Pandas\\Read Write Excel CSV File\\stock_data.xlsx", "Sheet1", converters={
    'people':convert_people_cell,
    'eps': convert_eps_cell
})

In [14]:
df

  tickers    eps  revenue price         people
0   GOOGL  27.82       87   845     larry page
1     WMT   4.61      484    65     sam walton
2    MSFT  -1.00       85    64     bill gates
3    RIL     NaN       50  1023  mukesh ambani
4    TATA   5.60       -1  n.a.     ratan tata

In [20]:
#writing excel file
#startrow and col start writing row at 1 col 2
df.to_excel("new.xlsx", sheet_name="stocks",startrow=1,startcol=2, index=False)